* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 10px;

  li{

  }
}

#container {
  .xyz {
    color: #f00;
    background: #000;
    padding-left: 20px;
  }
}
